<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Camera Permissions for QR Scanning -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <!-- Internet Permissions for Backend API -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ProPassApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProPass"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ProPass.Splash"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ProPass.Login"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ProPass.Login"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".OnboardingProfileCreationActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ProPass.Onboarding"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".OnboardingSmartScanActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ProPass.Onboarding"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".SmartFormRegistrationActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ProPass"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".HomeDashboardActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ProPass"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ProPass"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".DigitalPassActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ProPass"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ScanQRActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ProPass"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".ReviewRegistrationActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ProPass"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".RegistrationSuccessActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ProPass"
            tools:ignore="LockedOrientationActivity" />

        <!-- Organizer Portal Flow -->
        <activity
            android:name=".organizer.ui.OrganizerDashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ProPass"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".organizer.ui.CreateEventActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ProPass"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".organizer.ui.FormBuilderActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ProPass"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".organizer.ui.FormPreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ProPass"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".organizer.ui.EventPublishSuccessActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ProPass"
            tools:ignore="LockedOrientationActivity" />

    </application>

</manifest>